
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db

.env
.env.local
.env.test
.env.production

*.sqlite
*.db
*.sql.dump
seed.sql

logs/
*.log

.vscode/
.idea/
*.swp

tmp/
coverage/

/generated/prisma
